
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Does this ticket have time restrictions</h1>

<p class="govuk-hint">Specify time restrictions on applicable days below</p>


      <form class="form" action="type-of-passengers" method="get">







<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
          <h4 class="govuk-heading-m">Monday</h4>
      </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="full">
            Start time
          </label>
          <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
        </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="full">
          End time
        </label>
        <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="full">
            Start time
          </label>
          <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
        </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="full">
          End time
        </label>
        <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <button class="govuk-button govuk-button--secondary addanother-fix" data-module="govuk-button">
        Add another
      </button>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">












<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
          <h4 class="govuk-heading-m">Tuesday</h4>
      </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="full">
            Start time
          </label>
          <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
        </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="full">
          End time
        </label>
        <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <button class="govuk-button govuk-button--secondary addanother-fix" data-module="govuk-button">
        Add another
      </button>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">












<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
          <h4 class="govuk-heading-m">Wednesday</h4>
      </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="full">
            Start time
          </label>
          <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
        </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="full">
          End time
        </label>
        <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <button class="govuk-button govuk-button--secondary addanother-fix" data-module="govuk-button">
        Add another
      </button>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">














<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
          <h4 class="govuk-heading-m">Thursday</h4>
      </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="full">
            Start time
          </label>
          <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
        </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="full">
          End time
        </label>
        <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <button class="govuk-button govuk-button--secondary addanother-fix" data-module="govuk-button">
        Add another
      </button>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">










<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
          <h4 class="govuk-heading-m">Friday</h4>
      </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="full">
            Start time
          </label>
          <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
        </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="full">
          End time
        </label>
        <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <button class="govuk-button govuk-button--secondary addanother-fix" data-module="govuk-button">
        Add another
      </button>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">














<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
          <h4 class="govuk-heading-m">Saturday</h4>
      </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="full">
            Start time
          </label>
          <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
        </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="full">
          End time
        </label>
        <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <button class="govuk-button govuk-button--secondary addanother-fix" data-module="govuk-button">
        Add another
      </button>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">










<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
          <h4 class="govuk-heading-m">Sunday</h4>
      </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="full">
            Start time
          </label>
          <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
        </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="full">
          End time
        </label>
        <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <button class="govuk-button govuk-button--secondary addanother-fix" data-module="govuk-button">
        Add another
      </button>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">























<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
          <h4 class="govuk-heading-m">Bank Holiday</h4>
      </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label" for="full">
            Start time
          </label>
          <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
        </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="full">
          End time
        </label>
        <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <button class="govuk-button govuk-button--secondary addanother-fix" data-module="govuk-button">
        Add another
      </button>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">















        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>


  </div>
</div>




{% endblock %}
