
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


{% endblock %}

{% block content %}
<!--
    <form class="form" action="type-of-passengers" method="get">

      <button class="govuk-button" data-module="govuk-button">I am ready to upload</button>

    </form>
-->
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

     <h1 class="govuk-heading-l">Select an input method</h1>


    <form class="form" action="pre-upload" method="post">
     {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "where-do-you-live",
  fieldset: {
    legend: {

      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "england",
      text: "Upload (.csv) - We will guide you through how to do this if required"
    },
    {
      value: "scotland",
      text: "Manual Fares Triangle input"
    }
  ]
}) }}



  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
    </form>
    </div>
</div>


{% endblock %}
