
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="start">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="fare-type">Fare type</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"  href="passenger-type">Passenger type</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="how-many">How many</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="type-of-passengers">Passengers in group</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Adult information</a>
      </li>

    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form class="form" action="age-proof-child" method="post">
      <h1 class="govuk-heading-l">Tell us more about the adult passengers</h1>




















      {% from "govuk/components/input/macro.njk" import govukInput %}
      <h2 class="govuk-heading-m">How many adults can be in the group?</h2>
      <span class="govuk-hint" id="">If the ticket starts from just 1 passenger, just enter 1 in the minimum then the maximum number</span>

      {{ govukInput({
        label: {
          text: "Minimum"
        },
        classes: "govuk-input--width-2",
        id: "width-5",
        name: "width-5"
      }) }}

      {{ govukInput({
        label: {
          text: "Maximum"
        },
        classes: "govuk-input--width-2",
        id: "width-5",
        name: "width-5"
      }) }}















<!-- We need to know the age ranges, if you have them -->

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}




{% set child %}
{{ govukInput({
  id: "group-ranges-child-min",
  name: "adult",
  inputmode: "numeric",
  classes: "govuk-input--width-2",
  label: {
    text: "Minimum age"
  },
  attributes: {
    spellcheck: "false"
  }
}) }}
{{ govukInput({
  id: "group-ranges-child-max",
  name: "adult1",
  inputmode: "numeric",
  classes: "govuk-input--width-2",
  label: {
   text: "Maximum age"
  },
  attributes: {
    spellcheck: "false"
  }
}) }}

{% endset -%}











{{ govukRadios({
  idPrefix: "adult-range",
  name: "adult-range",
  fieldset: {
    legend: {
      text: "Do adult passengers have an age range?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },


  items: [
    {
      value: "XXXX",
      text: "Yes",
      conditional: {
        html: child
      }
    },
    {
      value: "xxx ",
      text: "No"
    }
  ]
}) }}











      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>



{% endblock %}
