
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="start">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="fare-type">Fare type</a>
    </li>

    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="name-group-ticket">Group ticket types</a>
    </li>




    <!--
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="group-ticket-range">Number of passengers</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="group-ticket-age-range">Age ranges</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="group-ticket-proof">Proof of age</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="fare-type2">Fare type</a>
    </li>
-->

    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Period ticket</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form class="form" action="period-services" method="post">

      {{ govukRadios({
  idPrefix: "fare",
  name: "selectfare",
  fieldset: {
    legend: {
      text: "Select a type of period ticket",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "xxxxx",
      text: "A ticket within a geographical zone"
    },
    {
      value: "xxxx",
      text: "A ticket for some or all of your network of services"
    }
  ]
}) }}

{{ govukInsetText({
  text: "A ticket for services across multiple operators will be availble soon"
}) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>



{% endblock %}
