
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">

  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your fare information before proceeding</h1>








        <h2 class="govuk-heading-m">Group ticket information</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Select a fare type
            </dt>
            <dd class="govuk-summary-list__value">
              Period ticket
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>





        </dl>








        <h2 class="govuk-heading-m">Now send your information</h2>

        <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <form action="../v3r1/complete" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
        Submit fare data
          </button>

        </form>

      </div>
    </div>
  </main>
</div>


{% endblock %}
