
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="start">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="fare-type">Fare type</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link"  href="passenger-type">Passenger type</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="how-many">How many</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="type-of-passengers">Passengers in group</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="age-proof-adult">Adult information</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="age-proof-child">Child information</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="time-restrict-days">Time restrictions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Period ticket</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Search for the operators that the ticket can cover</h1>
        <form class="form" action="select-operator-results" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Operator name
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="two-thirds" type="text">


        <button class="govuk-button" data-module="govuk-button">
          Search
        </button>






        <div class="govuk-inset-text">
            <h3 class="govuk-heading-m">Here are the operators you have added so far</h3>
          <ul class="govuk-list">
            <li>
              Stagecoach - West Yorkshire <a class="govuk-link" href="#">remove</a>
            </li>
            <li>
              Stagecoach - Lanacashire <a class="govuk-link" href="#">remove</a>
            </li>
          </ul>
        </div>




      </div>


      </form>






  </div>
</div>
<!--

    <form class="form" action="period-services" method="post">



      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  -->


{% endblock %}
