
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Fares data tool - prototypes
        <span class="govuk-caption-xl">Prototype kit {{releaseVersion}}</span>
      </h1>


      <p>
        Going forwards the new prototype will be versioned; changes will be made as research is gathered and once enough research is gathered a new version will be created. Outside of this versions maybe created to test different flows or A – B testing with different interactions.
        <p>
          All new prottypes will be created with the GDS prototyping toolkit from the from July 10th 2020
          </p>

  <p>These three journeys R1,R2 & R3 all contain a period ticket journey on the end to make a full journey</p>
        <ul class="govuk-list govuk-list--bullet">

          <li>
            <a href="/v2r1/start.html">V2 Group tickets R1 - Fare type first with group in the list first<span></span></a>
          </li>
          <li>
          <a href="/v2r2/start.html">V2 Group tickets R2 - Fare type first then group as a pessenger type</a>
          </li>
          <li>
            <a href="/v2r3/start.html">V2 Group tickets R3 - Passenger type first with group in the list</a>
          </li>
        </ul>
<p>
  Updates and iteration from V2 group tickets
  </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v3r1/start.html">V3 - Group tickets and period tickets (incorporating user feedback)</a>
        </li>
      </ul>



      <p>
        Prototypes for the service up until 10 July 2020 have been built in sketch and prototyped with invision this process has was done throughout alpha stage.
      <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://projects.invisionapp.com/share/TCXVEV1JAKH#/screens">All Prototypes (Pre-July 10th 2020)</a>
          </li>
        </ul>

      </p>

      <p>

        The development has been built in a modular way and the flow put together as the modular elements became complete. The current development prototypes can be found on the link below. You will need to register and also will be asked fro a NOC code, please enter WBTR in that field.

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://tfn-preprod.infinityworks.com/">Current pre production service</a>
          </li>
          <li>
            <a href="https://fares-data.dft.gov.uk/">Current production service</a>
          </li>
        </ul>
      </p>



      <!--
      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>
-->
      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
