
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Fares data tool - prototypes
        <span class="govuk-caption-xl">Prototype kit {{releaseVersion}}</span>
      </h1>


      <p>
        Going forwards the new prototype will be versioned; changes will be made as research is gathered and once enough research is gathered a new version will be created. Outside of this versions maybe created to test different flows or A – B testing with different interactions.
        <p>
          All new prottypes will be created with the GDS prototyping toolkit from the from July 10th 2020
          </p>

  <p>These three journeys R1,R2 & R3 all contain a period ticket journey on the end to make a full journey</p>
        <ul class="govuk-list govuk-list--bullet">

          <li>
            <a href="/v2r1/start.html">V2 Group tickets R1 - Fare type first with group in the list first<span></span></a>
          </li>
          <li>
          <a href="/v2r2/start.html">V2 Group tickets R2 - Fare type first then group as a pessenger type</a>
          </li>
          <li>
            <a href="/v2r3/start.html">V2 Group tickets R3 - Passenger type first with group in the list</a>
          </li>
        </ul>
<p>
  Updates and iteration from V2 group tickets with a check your answers page added
  </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v3r1/start.html">V3 - Group tickets and period tickets (incorporating user feedback)</a>
        </li>
        <li>
          <a href="/summary/check.html">V3 - Check your answers</a>
        </li>
      </ul>

<p>
  Time restrictions added into the flow of V3, creating V4
  </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/v4r1/start">V4 Time restriction added to flow in between group tickets and period tickets</a>
          </li>
          <li>
            <a href="/v4r1/check">V4 Time restriction added to check your answers</a>
          </li>
          <li>
            <a href="/v4-Adult/start">V4 Period ticket for an adult (As oppose to a group)</a>
          </li>
        </ul>

<p>
  Proposal to help users on upload journey
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="/upload/pre-upload">Prepare users for an CSV upload and whats involved</a>
    </li>
    <li>
      <a href="/upload/instruct">Help offered for uploading fares triangle if choosen</a>
    </li>
    <li>
      <a href="/upload/upload">Upload page proposed changes</a>
    </li>
  </ul>




  <p>
    Help for users (Assisted Digital)
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/ad-help/upload-a">Version A</a>
      </li>
      <li>
        <a href="/ad-help/upload-b">Version B</a>
      </li>
      <li>
        <a href="/ad-help/upload-c">Version C</a>
      </li>
    </ul>



    <p>
      Dating & Validity (start and end)
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/dating/start-end">Dating</a>
        </li>
        <li>
          <a href="/dating/validity">Validity</a>
        </li>
      </ul>



          <p>
            Multi-operator Ticket Journey
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="/multi-operator/start">Multi operator tickets</a>
              </li>
            </ul>



            <p>
              Development of the check your answers page to a more gated approach (Broken down into 3 bite size stages to stop a big final page)
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="/summary/gate-check-4">Gate 1 - Ticket Information</a><br />Location: after time restriction
                  </li>
                <li>
                  <a href="/summary/gate-check-2">Gate 2 - Fare Information Conditional</a><br />Location: after the fare stage names manual input</a>
                  </li>
                <li>
                  <a href="/summary/gate-check-1">Gate 2a - Fare Information</a><br />Location: before sales offer package</a>
              </li>
                  <li>
                    <a href="/summary/gate-check-3">Gate 3 - Sales Information</a><br />Location: after dating page </a>
                  </li>
              </ul>

<p>
  &nbsp;
  </p>

      <p>
        Prototypes for the service up until 10 July 2020 have been built in sketch and prototyped with invision this process has was done throughout alpha stage.
      <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://projects.invisionapp.com/share/TCXVEV1JAKH#/screens">All Prototypes (Pre-July 10th 2020)</a>
          </li>
        </ul>

      </p>

      <p>

        The development has been built in a modular way and the flow put together as the modular elements became complete. The current development prototypes can be found on the link below. You will need to register and also will be asked fro a NOC code, please enter WBTR in that field.

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://tfn-preprod.infinityworks.com/">Current pre production service</a>
          </li>
          <li>
            <a href="https://fares-data.dft.gov.uk/">Current production service</a>
          </li>
        </ul>
      </p>



      <!--
      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>
-->
      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
